<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-logs/${spring.application.name}.log}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"level":"%level","logger":"%logger","thread":"%thread"}</pattern>
                </pattern>
                <mdc/>
                <arguments/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
